fastapi
uvicorn
pydantic
openai
langchain
langchain-openai
langchain-core
python-dotenv
sqlalchemy
deepeval
reportlab
pypdf2
python-multipart
numpy
scipy
textblob
matplotlib
pandas
pyjwt
requests
PyJWT